*{margin: 0;
padding: 0;
color: #162a4c;
font-family: 'Roboto Flex', sans-serif;

}
a {
    color: #1A132F;
    text-decoration: none; /* no underline */
  }
nav{
padding-left: 15px;
   height: 70px;
    width: 100%;
    border-bottom: 2px solid rgb(206, 202, 202);
    display: flex;
    align-items: center;}
.container{
    display: flex;
}
.sideBar{
flex: 2;
height: 100vh;
margin-top: 20px;

}
.reportTitle{
    flex: 5;
}
.reportDate{
    flex: 1;
}
.reportTitle span{
    font-size: 1.7rem;
    font-weight: 600;
}
.reportDate span{
    font-size: 1.0rem;
    font-weight: 600;
}
.scan{
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    background-color: rgba(211, 204, 204, 0.336);
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    border-radius: 5px;
    margin-bottom: 7px;
}

.scanImg{
    height: 40px;
    width: 40px;
}
.attackName{
    color: #41516d;
}
.succImg{
    width: 90%;

}
.failImg{
    width: 90%;

}
.image{
    flex: 1;
    margin-right: 10px;
}
.name{
    flex: 5;

}
.result{flex: 2;
}
.content{
    flex: 7;
    padding-left: 20px;
    padding-top: 20px;
 }
 .report{
     margin-bottom: 50px;
 }
 .reportName{
     font-size: 1.4rem;
     font-weight: 600;
     color: #1949ca;
 }
 .subReportName{
     margin-top: 2px;
     color: #57667f;
     font-weight: 600;
     font-size: 1.1rem;
 }
 .attackDetails{
     margin-top: 10px;
     font-size: 1.4rem;
        color: #162a4c;
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
 }
 .details{
     margin-bottom: 5px;
 }
 .attackDetails span{
     font-size: 1.2;
display: block;
}
.failAlert{

    color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
position: relative;
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
width: 80%;
border-radius: 5px;
height: 30px;
display: flex;
align-items: center;

}
.successAlert{

    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
position: relative;
padding: .75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
width: 79.999%;
border-radius: 5px;
display: flex;
align-items: center;
}